WORDPRESS_URL="sneshev.42.fr"

DATABASE_NAME="wordpress"
DB_USER_NAME="joniiiii"
DB_USER_PASS="passsssss"
DB_ROOT_PASS="root_pass"

WP_ADMIN_USER="adam"
WP_ADMIN_PASS="wpa_pass"
WP_ADMIN_EMAIL="sneshev@murena.io"
